@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

// p+p {
//     text-indent: 0;
//     margin-top: 0;
// }

// p {
//     max-width: 80ch;
//     margin-left: 0;
//     margin-right: auto;
// }

// ul, ol {
//     max-width: 80ch;
//     margin-left: 0;
//     margin-right: auto;
// }

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */ 
@mixin breakpoint($point) {
   @if $point == medium {
       @media (max-width: 543px)  { @content; }
   }
   @else if $point == large {
       @media (max-width: 794px) { @content; }
   }
   @else if $point { // allows custom breakpoints
       @media (max-width: $point) { @content; }
   }
}



body {
      background: #F25F5C;
}

.toDoListView {
    text-align: center;
    margin: 5%;
    background: white;
    // background: #FFE066;
    padding: 2%;
    border-radius: 15px;
    padding-bottom: 5%;
    .date {
        opacity: .9;
        font-size: 1.5em;
        color:#247BA0;
    }
    .addTask {
        display: inline;
        margin-right: 30%; 
        @include breakpoint(large) {
                   display: block;
                   margin: auto;
        }
        .addToDoItem {
            border: 1px solid #247BA0;
            padding: 1.5%; 
            border-radius: 20px; 
            margin: 1%;
            font-size: .75em;
            background: transparent;
        }
        .addToDoItem:focus {
            outline: none; 
        }
        ::-webkit-input-placeholder {
            color: #247BA0;
            opacity: .8;
        }
        .addButton {
            border: 1px solid #247BA0;
            padding: .5% 2.5%; 
            border-radius: 20px; 
            margin: 1%;
            font-size: .75em;
            color: white;
            background: #247BA0;
        }
    }   
}
.navButtonContainer {
    display: inline; 
       
            .navButton {
                border: 1px solid #50514F;
                border-radius: 3px;
                width: 10%;
                color: #50514F;
                background: transparent;
                opacity: .4;
                font-size: .8em;
                 @include breakpoint(large) {
                    width: 20%;
                }
                 @include breakpoint(medium) {
                    width: 30%;
                }
            }
            .navButton:focus {
                opacity: 1; 
                outline: none; 
            }
}

.menu {
    display: -webkit-flex;
    justify-content: space-between;
    opacity: .7;
        span {
            flex: 1; 
        }
        @include breakpoint(medium) {
                    font-size: .75em;
        }
}

.toDoItem {  
    // background: #247BA0;
    padding: 1%; 
    margin: 1.5% 5%;
    font-size: 1em;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    justify-content: space-between;
    border-radius: 10px; 
    box-shadow: 1px 1px 10px #50514F;
    div {
        display: inline;
        margin: auto 1%;
        text-align: center; 
        flex: 1; 
        text-align: left;
        padding-left: 1%;
    }
        .dueDateContainer {
                .inputBox {
                    width: 90%;
                    padding: 2%;
                    font-size: .8em;
                    border: 1px solid #247BA0;
                    border-radius: 5px;
                     @include breakpoint(medium) {
                    padding: 5%;
                    font-size: .5em;
                    }
                }
                span {
                    color:  #247BA0;
                }
                #tryOut {
                    background: transparent;
                    font-size: .8em;
                    width: 100%;
                    border: none; 
                    max-width: 50ch;
                    &:focus {
                        outline: none;
                    }
                }
        }
        .itemNameandDescriptionContainer {
                .taskName {
                    font-style: bold;
                    color: #247BA0;
                }
                .inputBox {
                    width: 90%;
                    padding: 2%;
                    font-size: .8em;
                    border: 1px solid #247BA0; 
                    border-radius: 5px;
                    @include breakpoint(medium) {
                    padding: 5%;
                    font-size: .5em;
                    }
                }
                .itemDescription {
                    opacity: .7; 
                    font-size: .8em;
                    margin-bottom: 0;
                    max-width: 50ch;
                }
                #tryOut {
                    background: transparent;
                    font-size: .8em;
                    width: 100%;
                    border: none; 
                    max-width: 50ch;
                    &:focus {
                        outline: none;
                    }
                  
                }
        }       
        #itemStatus {
                .toggle {
                    .toggle_control {
                        transition: .5s all ease;
                        width: 3.5em;
                        height: 1.5em;
                        display: block;
                        border: 2px solid white;
                        border-radius: 1.5em;
                        background-color: rgba(black,.5);
                        position: relative;
                        &:after{
                            transition: .5s all ease;
                            content: "";
                            width: 1.3em;
                            height: 1.3em;
                            display: block;
                            background-color: #fff;
                            border-radius: 50%;
                            box-shadow: 0 1px 2px rgba(black, .3);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        @include breakpoint(medium) {
                            width: 2.5em;
                        }
                    }
                    input {
                        display: none;
                        &:checked + .toggle_control {
                            border-color: #70C1B3;
                            background-color: #70C1B3;
                            &:before {
                                content: "Done";
                                color: white;
                                font-size: .6em;
                                padding: 6%;
                                vertical-align: text-top;
                            }
                            &:after {
                                left: 100%;
                                transform: translateX(-100%);
                            }
                        }
                    }
                }
        }
        button {
            margin: auto 2%;
            padding: 0 1%;
            background: transparent;
            border: none;
            width: 10%;
            color: #F25F5C;
        }
}







